<?xml version="1.0" encoding="UTF-8"?>
<!--设置log4j2的自身日志级别为warn-->
<Configuration status="WARN">
    <!--<properties>
        <property name="LOG_FILE_PATH">filePath</property>
        <property name="INFO_LOG_FILE_NAME">info</property>
        <property name="ERROR_LOG_FILE_NAME">error</property>
    </properties>-->

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!--<RollingFile name="RollingFileInfo" filePattern="${LOG_FILE_PATH}/logs/$${date:yyyy-MM-dd}/${INFO_LOG_FILE_NAME}-%d{yyyy-MM-dd-HH}-%i.log">
            <Filters>
                <ThreshouldFilter level="ERROR"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>-->

        <!--<RollingFile name="RollingFileError" filePattern="${LOG_FILE_PATH}/logs/$${date:yyyy-MM-dd}/${ERROR_LOG_FILE_NAME}-%d{yyyy-MM-dd-HH}-%i.log">
            <Filters>
                <ThreshouldFilter level="INFO"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>-->

        <!--<RandomAccessFile name="RandomAccessFile" fileName="asyncWithLocation.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RandomAccessFile>-->
    </Appenders>

    <Loggers>
        <!-- <AsyncLogger name="asynLogger" level="trace"
           includeLocation="true">
           <AppenderRef ref="RandomAccessFile" />
       </AsyncLogger> -->
        <!--根Logger的设置-->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <!--<AppenderRef ref="RollingFileInfo"/>
            <AppenderRef ref="RollingFileError"/>-->
        </Root>
    </Loggers>
</Configuration>